<%- include ("./partials/header") %>

<div class="ui main text container">
	<div class="ui top attached segment">
		<div class="ui divided items">
			<% if(!currentUser) { %>
				<h2>Blog Site</h2>
				<a href="/login" class="item">Login</a>
			   <a href="/register" class="item">Sign Up</a>
			<% } %>

            <% if(currentUser) {%>
			<div class="ui huge header">Feed</div>
			<% blogs.forEach(function(blog) { %>
				<%if(blog.author.id.equals(currentUser._id)){%>
				<div class="item">
					<div class="image">
						<img src="<%= blog.image %>" />
					</div> <!-- image -->
					<div class="content">
						<a class="header" href="/blogs/<%= blog._id %>">
							<%= blog.title %>
						</a>
						<div class="meta">
							<span>
								<%= blog.created.toDateString() %>
							</span>
						</div> <!-- meta -->
						<div class="description">
							<p> <%- blog.body.substring(0, 100) %>... </p>
						</div> <!-- description -->
						<div class="extra">
							<a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
								Read more
							</a>
						</div> <!-- extra -->
					</div> <!-- content -->
				</div> <!-- item -->
				<% } %>
				<% }); %>
				<% } %>
		</div> <!-- divided items -->
	</div> <!-- top attached segment -->
	<div style="color: rgb(8, 150, 8);">
		<% if(messages.success) {%>
			<%- messages.success %>
		<% } %>
	   </div>
</div> <!-- main text container -->



<%- include ("./partials/footer") %>
