<%- include("partials/header")%>

<div class="ui main text container segment">
    <div class="ui huge header">Profile</div>
    <div class="ui divided items">
        <div class="item">
            <div>
            <p style="font-weight: 600;">Username- &nbsp; <%= currentUser.username %></p>
            <p style="font-weight: 600;">Name- &nbsp; <%= currentUser.name %></p>
            </div>
        </div>
        <div class="item">
            <h2 style="font-weight: 600;">My Blogs</h2>
        </div>
    <% blogs.forEach(function(blog) { %>
        <%if(currentUser && blog.author.id.equals(currentUser._id)){%>
        <div class="item">
            <a href="/blogs/<%= blog._id %>"><%- blog.title %></a>
        </div>
        <%}%>
        <% }) %>
    </div>
</div>

<%- include("partials/footer")%>